*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{

    background-color: var(--cor03);
}


:root{

    --cor01:#d34410;
    --cor02:black;
    --cor03:#EB6507;
    --cor04:#EB5D07;
    --cor05:#cc5d0d;
}

/* ---------------NAVBAR----------------- */


.baner{
    height: 100vh;
    width: 100%;    
    background-image: linear-gradient(to top, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../imagens/escola.jpg);
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
} 

.logo{
    font-size: 30px;
    color: white;
}

.logo-letra{
    font-size: 45px;
}

.navbar{
    background-image: linear-gradient(to top, var(--cor03), var(--cor04), var(--cor01));
    width: 100%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 10;
}

.navbar ul li{
    display: inline-block;
    margin: 0 20px;
}

.navbar ul li a{
    text-decoration: none;
    list-style: none;
    color: white;
    font-size: 20px;
    transition: 0.5s;
}

.navbar ul li a:hover{
    color: var(--cor06);
}

 .nav-button{
    color: white;
    font-size: 15px;
    padding: 15px 25px;
    background-color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.4s ease-in-out 0s;
}

.nav-button:hover{
    color: black;
    background-color: white;
} 

/* ---------------------CONTENT---------------------------- */

.content{
    z-index: 0;
    color: white;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.content h1{
    font-size: 70px;
    margin-top: 80px;
}

.letra-diferente{
    font-size: 70px;
    color: var(--cor07);
}

.content p{
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}


